//
//  Development.xcconfig
//  KiWiTales
//
//  Created by Takumi Otsuka on 9/22/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ATOM_HUGGINGFACE_TOKEN = "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"
ATOM_ID = "QPjGy24vi1fns0OeMC79TweO1Oh2"
PERSONAL_HUGGINGFACE_TOKEN = "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"
