<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google-sign-in</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>$(GID_CLIENT_ID)</string>
	<key>ATOM_ID</key>
	<string>$(ATOM_ID)</string>
	<key>ATOM_HUGGINGFACE_TOKEN</key>
	<string>$(ATOM_HUGGINGFACE_TOKEN)</string>
	<key>PERSONAL_HUGGINGFACE_TOKEN</key>
	<string>$(PERSONAL_HUGGINGFACE_TOKEN)</string>
	<key>GOOGLE_GEMINI_API_KEY</key>
	<string>$(GOOGLE_GEMINI_API_KEY)</string>
	<key>STABILITY_AI_API_KEY</key>
	<string>$(STABILITY_AI_API_KEY)</string>
	<key>STABILITY_AI_BASE_URL</key>
	<string>$(STABILITY_AI_BASE_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-Black.ttf</string>
		<string>Nunito-BlackItalic.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-BoldItalic.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
		<string>Nunito-ExtraBoldItalic.ttf</string>
		<string>Nunito-ExtraLight.ttf</string>
		<string>Nunito-ExtraLightItalic.ttf</string>
		<string>Nunito-Italic.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-LightItalic.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Nunito-MediumItalic.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
